*.settings
*.classpath
*.project
*/bin
*/target
/target
/bin
*rebel.xml
.idea
*.iml
*.iml
*/node_modules
*.project
*/typings
*npm-debug.log
*/dist
*.log
*bin/
*.vscode/*
*hsql/*
*.DS_Store
*.DS_STORE

